@import url("https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap");

body { 
  margin: 0; padding: 0; height: 100%; overflow: hidden
}

.content {
  max-width: 500px;
  margin: auto;
}

.map { 
  position: absolute; top: 0; bottom: 0; width: 100%; 
}

/* Place the navbar at the bottom of the page, and make it stick */
.navbar {
  background-color: #005aff;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.navbar a {
  float: center;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}